@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --footer-author-h: 65px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  background: linear-gradient(90deg, #ececec 28%, #eee 0);
  background-size: 15px;
}

body {
  @apply text-sm;
  color: rgb(var(--foreground-rgb));
  font-family: 'ST Black', BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#geist-ui-toast {
  .toast {
    @apply text-sm text-[#666] shadow-none border border-solid border-gray-300 flex justify-between px-10;

    >.message, .action {
      @apply p-0;
    }
  }
}
