.home {
  @apply max-w-screen-sm mx-auto;
  @apply flex flex-col justify-center;
  min-height: calc(100vh - var(--footer-author-h));
}

.nav-links {
  @apply flex gap-x-2 my-3.5;

  >a {
    max-height: 32px;
    @apply flex items-center gap-x-1.5;
    @apply rounded-lg px-3.5 py-1.5;
    @apply bg-white;
    box-shadow: 0 0 1px 0 rgba($color: #000, $alpha: 0.15);

    &:hover, &:focus {
      box-shadow: 0 0 1px rgba($color: #000, $alpha: 0.18);
    }
  }
}

.nav-links-inner {
  @apply my-8;

  ul {
    @apply flex gap-x-2;
  }

  a {
    @apply flex items-center gap-x-1;
  }
}

.author {
  @apply text-xs text-gray-500 p-6 text-center select-none;
  height: var(--footer-author-h);
}

.whoiam {
  @apply font-bold text-5xl sm:text-6xl text-black min-h-[3.75rem];
  @apply leading-tight #{!important};

  &::after {
    content: '';
    animation: cursor 1s ease-in-out infinite;
    @apply inline-block w-1 rounded-sm bg-[#027AFF] mt-[0.125rem] sm:mt-[0.58rem] h-[3.5rem] align-top;
  }
}

@keyframes cursor {
  from {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
}

.wave-hand {
  font-style: normal;
  &::before {
    content: '👋';
    display: inline-block;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
  }
}

@keyframes wave-animation {
  0% { transform: rotate(0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate(0.0deg) }
  100% { transform: rotate(0.0deg) }
}
