.home {
  @apply max-w-screen-sm mx-auto;
  @apply flex flex-col justify-center;
  min-height: calc(100vh - var(--footer-author-h));
}

.nav-links {
  @apply flex gap-x-2 my-3.5;

  >a {
    max-height: 32px;
    @apply flex items-center gap-x-1.5;
    @apply rounded-lg px-3.5 py-1.5;
    @apply bg-white;
    box-shadow: 0 0 rgba($color: #000, $alpha: 0.08);

    &:hover, &:focus {
      box-shadow: 0 0 1px rgba($color: #000, $alpha: 0.18);
    }
  }
}

.nav-links-inner {
  @apply my-8;

  ul {
    @apply flex gap-x-2;
  }

  a {
    @apply flex items-center gap-x-1;
  }
}

.author {
  @apply text-xs text-gray-500 p-6 text-center select-none;
  height: var(--footer-author-h);
}
